pkgbase = libfprint-omsmoc
	pkgdesc = Library to access fingerprint readers, with the OMS match-on-chip driver (33a7:2388)
	pkgver = 1.94.100
	pkgrel = 1
	url = https://github.com/BlueApple233/OMS-fingerprint-linux
	arch = x86_64
	arch = aarch64
	license = LGPL-2.1-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = gobject-introspection
	makedepends = glib2-devel
	depends = glib2
	depends = libgudev
	depends = libgusb
	depends = libusb
	depends = openssl
	depends = pixman
	depends = cairo
	provides = libfprint
	provides = libfprint-2.so=2-64
	conflicts = libfprint>=1.90
	options = !emptydirs
	source = https://gitlab.freedesktop.org/libfprint/libfprint/-/archive/v1.94.100/libfprint-v1.94.100.tar.gz
	source = omsmoc-driver.patch
	sha256sums = edc90e02f330a7595ceaf37f2c6ec32ed43541347fe936d3273b0bb2524fd19c
	sha256sums = d2d633d5ba13e7f193c12eb1d1782210caa66113b9250457462771eb80f3dd14

pkgname = libfprint-omsmoc
